<div class="container">
  <div id="tab-container" class="d-flex flex-row justify-content-center align-items-center w-100 mt-4">
    <ul ngbNav #nav="ngbNav" class="nav-tabs w-100 d-flex flex-row justify-content-center">
      <li ngbNavItem  [ngbNavItem]="1" class="col-md-4 text-center">
        <a ngbNavLink class="hover-tab">Tickets</a>
        <ng-template ngbNavContent>First content</ng-template>
      </li>
      <li ngbNavItem [ngbNavItem]="2" class="col-md-4 text-center">
        <a ngbNavLink class="hover-tab">Registrar Ticket</a>
        <ng-template ngbNavContent>
          <app-add-ticket></app-add-ticket>
        </ng-template>
      </li>
    </ul>
  </div>

  <section id="ng-container" class="">
    <div [ngbNavOutlet]="nav"></div>
  </section>
</div>
