#card {
  //margin-top: -125px;
  h2 {
    font-family: 'Anton', sans-serif;
  }
  #text-description {
    resize: none;
  }
}
.card-hearder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 1.5em;
	#header-image {
		width: 35%;
	}
}
