#card {
  //margin-top: -125px;
  h2 {
    font-family: 'Anton', sans-serif;
  }
  #text-description {
    resize: none;
  }
}

#select-member {
  height: 50px;
}

.card-hearder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 1.5em;
	#header-image {
		width: 35%;
	}
}


#member-container {
  .card-header {
    font-family: 'Anton', sans-serif !important;
  }

  #name-element {
    font-weight: normal !important;
  }
}
