<div id="card" class="card bg-light text-dark col-md-6 mt-5">
	<div id="logo-container" class="card-hearder">
		<img
			id="header-image"
			class=""
			src="../../../assets/Fuerzasarmadasdominicanasarregladocheposo.svg"
			alt="Mide Logo"
		/>
	</div>

	<form id="form-nav" class="card-body">
    <h2 class="text-center">Registrar Ticket</h2>
		<div class="mb-4 mt-5">
			<input
				[(ngModel)]="_share.Name"
				[ngModelOptions]="{ standalone: true }"
				type="text"
				class="form-control"
				id="exampleFormControlInput1"
				placeholder="Titulo"
			/>
		</div>

		<div class="mb-4">
			<textarea
      [(ngModel)]="_share.Password"
				[ngModelOptions]="{ standalone: true }"
				type="password"
				class="form-control input-pass p-3"
				id="text-description"
				placeholder="Descripcion">
      </textarea>

		</div>

    <div class="mb-4">
      <div class="row">
        <div class="col d-flex flex-row justify-content-end">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{SelectTitle}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="LowPriority()" class="text-success text-bold" ngbDropdownItem>Baja</button>
              <button (click)="MediumPriority()" class="text-warning" ngbDropdownItem>Promedio</button>
              <button (click)="HighPriority()" class="text-danger" ngbDropdownItem>Alta</button>
            </div>
          </div>
        </div>
      </div>
		</div>
	</form>

	<div class="card-footer">
		<div class="row">
			<div class="col-md-6">
				<button
					class="btn btn-block btn-secondary"
					(click)="_share.ClearForm()">
					Limpiar
				</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-block btn-success">
					Registrar
				</button>
			</div>
		</div>
	</div>
</div>

