<div id="card" class="card bg-light text-dark col-md-6 mt-5">
	<div id="logo-container" class="card-hearder">
		<img
			id="header-image"
			class=""
			src="../../../assets/Fuerzasarmadasdominicanasarregladocheposo.svg"
			alt="Mide Logo"
		/>
	</div>

	<form id="form-nav" class="card-body">
    <h2 class="text-center">Registro</h2>
		<div class="mb-4 mt-5">
			<input
				[(ngModel)]="TicketName"
				[ngModelOptions]="{ standalone: true }"
				type="text"
				class="form-control"
				id="exampleFormControlInput1"
				placeholder="Titulo"
			/>
		</div>

		<div class="mb-4">
			<textarea
      [(ngModel)]="TicketDescripcion"
				[ngModelOptions]="{ standalone: true }"
				type="password"
				class="form-control input-pass p-3"
				id="text-description"
				placeholder="Descripcion">
      </textarea>

		</div>

    <div class="mb-4">
      <div class="row ml-2">
        <div id="member-container" class="d-inline-block">
          <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
              Se Asignara A:
            </div>
            <ul class="list-group list-group-flush">
              <li id="name-element" class="list-group-item text-center text-danger">Nombre</li>
            </ul>
          </div>
        </div>
        <div class="col d-flex flex-row justify-content-end">
          <div ngbDropdown class="d-inline-block pb-1">
            <button class="btn btn-outline-primary mt-4 mr-2" id="dropdownBasic1" ngbDropdownToggle>{{SelectTitle}}</button>
            <div id="button-container" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="LowPriority()" class="text-success text-bold" ngbDropdownItem>Baja</button>
              <button (click)="MediumPriority()" class="text-warning" ngbDropdownItem>Promedio</button>
              <button (click)="HighPriority()" class="text-danger" ngbDropdownItem>Alta</button>
            </div>
          </div>
        </div>
      </div>
		</div>
	</form>

	<div class="card-footer">
		<div class="row">
			<div class="col-md-6">
				<button
					class="btn btn-block btn-secondary"
					(click)="_share.ClearForm()">
					Limpiar
				</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-block btn-success" (click)="CreateTicket()">
					Registrar
				</button>
			</div>
		</div>
	</div>
</div>

