#img-logo {
	width: 5%;
	height: 5%;
}

#dropdownBasic1 {
  cursor: pointer;
}

#logo-title {
	font-size: 25px;

	#start-title {
		color: #dc3545;
		font-weight: bold;
		font-style: oblique;
	}

	#second-title {
		color: #007bff;
		font-weight: bold;
		//font-style: oblique;
	}
}
