<nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-3">
	<img
		id="img-logo"
		class="mr-4 ml-4 img-fluid"
		src="../../../assets/Mini_Logo_Principal_MIDE.png"
		alt="MIDE"
	/>
	<a href="#" id="logo-title" class="navbar-brand">
		<span class="" id="start-title">Ticket</span>
		<span id="second-title"> Manager</span>
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" *ngIf="isAuthenticated | async">				
				<div ngbDropdown class="d-inline-block" display="dynamic">
					<a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{ username | async }}</a>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					  <button (click)="logout()" ngbDropdownItem>Salir</button>					  
					</div>
				  </div>
			</li>
			<li class="nav-item" *ngIf="!(isAuthenticated | async)">
				<app-login-form></app-login-form>
			</li>
		</ul>
	</div>
</nav>
