#logo-container {
	display: flex;
	width: 100%;
	justify-content: center;

	img {
		margin-top: 7%;
	}
}

#card-container {
	min-height: 100vh;
	height: auto;

	.form {
		width: 40%;
		height: auto;
	}
}
