<form>
  <div class="form-group form-inline w-100 pt-2 d-flex flex-row justify-content-center align-items-center">
      <input [(ngModel)]="filters.searchTerm" [ngModelOptions]="{ standalone: true }" (ngModelChange)="getTickets()" class="form-control ml-2 w-75" type="text" placeholder="Nombre del Ticket a Buscar"/>
      <select (change)="getTickets()" [(ngModel)]="filters.numberStatus" [ngModelOptions]="{ standalone: true }" id="select-status" class="form-control ml-4 col-2">
        <option value=0 selected>Todas</option>
        <option value=1>Completadas</option>
        <option value=2>Pendientes</option>
      </select>
  </div>
</form>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center">
	<table class="table table-hover w-100 mt-4">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Importance</th>
				<th scope="col">Created</th>
				<th scope="col">Status</th>
				<th scope="col" *ngIf="IsAdmin">Acciones</th>
        <th>Completar</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of (results$ | async)?.records; index as i">
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ item?.title }}</td>
				<td>{{ item?.description }}</td>
				<td>
					<span *ngIf="item.importance == 1" class="tag success"
						>Baja</span
					>
					<span *ngIf="item.importance == 2" class="tag warning"
						>Promedio</span
					>
					<span *ngIf="item.importance == 3" class="tag danger"
						>Alta</span
					>
				</td>
				<td>{{ item?.created | date: 'short' }}</td>
				<td>
					<span
						*ngIf="item.isCompleted; else pending"
						class="tag success"
						>Completada</span
					>
					<ng-template #pending
						><span class="tag warning"
							>Pendiente</span
						></ng-template
					>
				</td>
				<td *ngIf="IsAdmin" class="row justify-content-between pr-2">
					<span class="btn text-info" (click)="open(content)">
						<!-- <fa-icon [icon]="faEye"></fa-icon> -->
            <fa-icon [icon]="faEdit"></fa-icon>
					</span>
					<span class="btn text-danger" (click)="deleteTicket(item)">
						<fa-icon [icon]="faTrash"></fa-icon>
					</span>
				</td>

        <td id="col-button">
          <button *ngIf="!item.isCompleted" type="button" class="btn btn-success" (click)="UpdateTicket(item, true)">
            Pasar a Completar
          </button>
          <button *ngIf="item.isCompleted" type="button" class="btn btn-warning" (click)="UpdateTicket(item, true)">
            Pasar a Pendiente
          </button>

        </td>

				<ngx-confirm-box [bgColor]="confirmBoxProp.bgColor" [confirmHeading]="confirmBoxProp.confirmHeading" [confirmCanceltext]="confirmBoxProp.confirmCanceltext" [confirmContent]= "confirmBoxProp.confirmContent" [confirmOkaytext] = "confirmBoxProp.confirmOkaytext" (confirmEvt)="confirmChange($event, item)"></ngx-confirm-box>

				<!-- modal template -->
				<ng-template #content let-c="close" let-d="dismiss">
					<div class="modal-header">
					  <input class="modal-title form-control w-75 p-4" id="modal-basic-title" [(ngModel)]="item.title" [ngModelOptions]="{ standalone: true }">
					  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					 <div class="row">
						 <div class="col-md-12">
							 <textarea [(ngModel)]="item.description" cols="60" rows="5" class="form-control"></textarea>
						</div>
					 </div>
					 <div class="row mt-3">
						 <div class="col-md-6">
							 <div class="form-group"><label for="">Asignar a: </label>
                <select name="" id="" class="form-control" [(ngModel)]="item.assignTo" >
                  <option disabled selected>Seleccionar Usuario</option>
                  <option class="text-black" *ngFor="let item of UsersSupports;" value="{{item.id}}">
                    {{item.username}}
                  </option>
               </select>
              </div>
						 </div>
						 <div class="col-md-6">
							 <div class="form-group"><label for="">Prioridad: </label>
                <select name="" id="" class="form-control" [(ngModel)]="item.importance">
                  <option disabled selected>Seleccionar Prioridad</option>
                  <option class="text-success" value=1>Baja</option>
                  <option class="text-warning" value=2>Promedio</option>
                  <option class="text-danger" value=3>Alta</option>
               </select>
              </div>
						 </div>
					 </div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-outline-dark mr-3" (click)="UpdateTicket(item, false)">Guardar</button>
					</div>
				  </ng-template>
			</tr>
		</tbody>
	</table>
</div>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="TicketsLength" [(page)]="filters.pageNumber" [pageSize]="filters.pageSize" (pageChange)="getTickets()"></ngb-pagination>
  <select class="custom-select" style="width: auto" [(ngModel)]="filters.pageSize" (ngModelChange)="getTickets()">
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option selected [ngValue]="15">15</option>
  </select>
</div>
