<table class="table table-reponsive table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <td class="th">#</td>
            <td class="th">Nombre</td>
            <td class="th">Descripcion</td>
            <td class="th">Prioridad</td>
            <td class="th">UserId</td>
            <td class="th">AssignTo</td>
            <td class="th">Completado</td>
            <td class="th">Opciones</td>
            <!-- <th class="th">Opciones</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item in results; index as i">
            <th scope="row">{{ i + 1}}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.importance }}</td>
            <td>{{ item.userId }}</td>
            <td>{{ item.assignTo }}</td>
            <td>{{ item.isCompleted }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
